USE [master]
GO
/****** Object:  Database [LMS_Project]    Script Date: 21/04/2026 9:43:05 CH ******/
CREATE DATABASE [LMS_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LMS_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMS_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LMS_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS_Project]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](20) NOT NULL,
	[discount_val] [int] NOT NULL,
	[expiry_date] [datetime] NOT NULL,
	[usage_limit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_progress]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_progress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
	[is_completed] [bit] NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[instructor_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enrollments]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enrollments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[enrolled_at] [datetime] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lessons]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lessons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[section_id] [int] NOT NULL,
	[lesson_type] [varchar](10) NULL,
	[url_content] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[options]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[options](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[option_text] [nvarchar](max) NOT NULL,
	[is_correct] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[transaction_id] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[point] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_results]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[quiz_id] [int] NOT NULL,
	[total_score] [float] NOT NULL,
	[status] [varchar](10) NULL,
	[attempt_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quizzes]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quizzes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[time_limit] [int] NOT NULL,
	[pass_score] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sections]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[order_index] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21/04/2026 9:43:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [parent_id]) VALUES (1, N'Lập trình Web', NULL)
INSERT [dbo].[categories] ([id], [name], [parent_id]) VALUES (2, N'Cơ sở dữ liệu', NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([id], [code], [discount_val], [expiry_date], [usage_limit]) VALUES (1, N'CHIDU2026', 20, CAST(N'2026-12-31T00:00:00.000' AS DateTime), 100)
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[course_progress] ON 

INSERT [dbo].[course_progress] ([id], [user_id], [lesson_id], [is_completed], [completed_at]) VALUES (1, 3, 1, 1, CAST(N'2026-04-14T15:20:06.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[course_progress] OFF
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([id], [category_id], [instructor_id], [title], [price], [status]) VALUES (1, 1, 2, N'Lập trình Node.js và SQL Server chuyên sâu', CAST(500000.00 AS Decimal(10, 2)), N'published')
INSERT [dbo].[courses] ([id], [category_id], [instructor_id], [title], [price], [status]) VALUES (2, 2, 2, N'Quản trị Hệ quản trị CSDL MySQL', CAST(450000.00 AS Decimal(10, 2)), N'published')
SET IDENTITY_INSERT [dbo].[courses] OFF
GO
SET IDENTITY_INSERT [dbo].[enrollments] ON 

INSERT [dbo].[enrollments] ([id], [user_id], [course_id], [enrolled_at], [status]) VALUES (1, 3, 1, CAST(N'2026-04-14T15:20:06.417' AS DateTime), N'active')
SET IDENTITY_INSERT [dbo].[enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[lessons] ON 

INSERT [dbo].[lessons] ([id], [section_id], [lesson_type], [url_content]) VALUES (1, 1, N'video', N'https://youtu.be/lesson1')
INSERT [dbo].[lessons] ([id], [section_id], [lesson_type], [url_content]) VALUES (2, 1, N'pdf', N'https://drive.com/tailieu1.pdf')
INSERT [dbo].[lessons] ([id], [section_id], [lesson_type], [url_content]) VALUES (3, 2, N'video', N'https://youtu.be/lesson2')
SET IDENTITY_INSERT [dbo].[lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [is_read]) VALUES (1, 3, N'Thanh toán thành công', N'Bạn đã mở khóa khóa học Node.js.', 0)
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[options] ON 

INSERT [dbo].[options] ([id], [question_id], [option_text], [is_correct]) VALUES (1, 1, N'V8 Engine', 1)
INSERT [dbo].[options] ([id], [question_id], [option_text], [is_correct]) VALUES (2, 1, N'SpiderMonkey', 0)
INSERT [dbo].[options] ([id], [question_id], [option_text], [is_correct]) VALUES (3, 2, N'Microsoft', 1)
SET IDENTITY_INSERT [dbo].[options] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [user_id], [course_id], [amount], [payment_method], [transaction_id]) VALUES (1, 3, 1, CAST(500000.00 AS Decimal(10, 2)), N'Chuyển khoản Ngân hàng', N'TXN123456789')
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[questions] ON 

INSERT [dbo].[questions] ([id], [quiz_id], [content], [point]) VALUES (1, 1, N'Câu 1: Node.js chạy trên Engine nào?', 5)
INSERT [dbo].[questions] ([id], [quiz_id], [content], [point]) VALUES (2, 1, N'Câu 2: SQL Server thuộc hãng nào?', 5)
SET IDENTITY_INSERT [dbo].[questions] OFF
GO
SET IDENTITY_INSERT [dbo].[quiz_results] ON 

INSERT [dbo].[quiz_results] ([id], [user_id], [quiz_id], [total_score], [status], [attempt_count]) VALUES (1, 3, 1, 10, N'passed', 1)
SET IDENTITY_INSERT [dbo].[quiz_results] OFF
GO
SET IDENTITY_INSERT [dbo].[quizzes] ON 

INSERT [dbo].[quizzes] ([id], [course_id], [time_limit], [pass_score]) VALUES (1, 1, 15, 5)
INSERT [dbo].[quizzes] ([id], [course_id], [time_limit], [pass_score]) VALUES (2, 1, 15, 4.5)
INSERT [dbo].[quizzes] ([id], [course_id], [time_limit], [pass_score]) VALUES (3, 1, 45, 8.5)
SET IDENTITY_INSERT [dbo].[quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [course_id], [user_id], [rating], [comment], [created_at]) VALUES (1, 1, 3, 5, N'Khóa học thực tế, dễ hiểu!', CAST(N'2026-04-14T15:20:06.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[sections] ON 

INSERT [dbo].[sections] ([id], [course_id], [title], [order_index]) VALUES (1, 1, N'Chương 1: Cấu trúc dự án Node.js', 1)
INSERT [dbo].[sections] ([id], [course_id], [title], [order_index]) VALUES (2, 1, N'Chương 2: Kết nối SQL Server', 2)
SET IDENTITY_INSERT [dbo].[sections] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [role], [is_active]) VALUES (1, N'admin', N'123456', N'admin', 1)
INSERT [dbo].[users] ([id], [username], [password], [role], [is_active]) VALUES (2, N'giaovien', N'123456', N'instructor', 1)
INSERT [dbo].[users] ([id], [username], [password], [role], [is_active]) VALUES (3, N'hocsinh', N'123456', N'student', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__coupons__357D4CF9A572DF99]    Script Date: 21/04/2026 9:43:05 CH ******/
ALTER TABLE [dbo].[coupons] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payments__85C600AE0A546478]    Script Date: 21/04/2026 9:43:05 CH ******/
ALTER TABLE [dbo].[payments] ADD UNIQUE NONCLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572F03CCCE0]    Script Date: 21/04/2026 9:43:05 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[course_progress] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[enrollments] ADD  DEFAULT (getdate()) FOR [enrolled_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[quiz_results] ADD  DEFAULT ((1)) FOR [attempt_count]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_Category_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_Category_Parent]
GO
ALTER TABLE [dbo].[course_progress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_Lesson] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[lessons] ([id])
GO
ALTER TABLE [dbo].[course_progress] CHECK CONSTRAINT [FK_Progress_Lesson]
GO
ALTER TABLE [dbo].[course_progress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[course_progress] CHECK CONSTRAINT [FK_Progress_User]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK_Course_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK_Course_Category]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK_Course_Instructor] FOREIGN KEY([instructor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK_Course_Instructor]
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[enrollments] CHECK CONSTRAINT [FK_Enroll_Course]
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[enrollments] CHECK CONSTRAINT [FK_Enroll_User]
GO
ALTER TABLE [dbo].[lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Section] FOREIGN KEY([section_id])
REFERENCES [dbo].[sections] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lessons] CHECK CONSTRAINT [FK_Lesson_Section]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notify_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_Notify_User]
GO
ALTER TABLE [dbo].[options]  WITH CHECK ADD  CONSTRAINT [FK_Option_Question] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[options] CHECK CONSTRAINT [FK_Option_Question]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_Payment_Course]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FK_Question_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quizzes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FK_Question_Quiz]
GO
ALTER TABLE [dbo].[quiz_results]  WITH CHECK ADD  CONSTRAINT [FK_Result_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quizzes] ([id])
GO
ALTER TABLE [dbo].[quiz_results] CHECK CONSTRAINT [FK_Result_Quiz]
GO
ALTER TABLE [dbo].[quiz_results]  WITH CHECK ADD  CONSTRAINT [FK_Result_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quiz_results] CHECK CONSTRAINT [FK_Result_User]
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quizzes] CHECK CONSTRAINT [FK_Quiz_Course]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_Review_Course]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[sections]  WITH CHECK ADD  CONSTRAINT [FK_Section_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sections] CHECK CONSTRAINT [FK_Section_Course]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD CHECK  (([status]='published' OR [status]='pending' OR [status]='draft'))
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD CHECK  (([status]='refunded' OR [status]='expired' OR [status]='active'))
GO
ALTER TABLE [dbo].[lessons]  WITH CHECK ADD CHECK  (([lesson_type]='text' OR [lesson_type]='pdf' OR [lesson_type]='video'))
GO
ALTER TABLE [dbo].[quiz_results]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='passed'))
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='student' OR [role]='instructor' OR [role]='admin'))
GO
USE [master]
GO
